[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
redis = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "==2.6.0"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.7"
